<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="default-form">
      <% if(error) { %>
        <p style="color: red;"><%= error %></p>
      <% } %>
      <h3>Home Page</h3>
      <form action="/api/appointments" method="POST">
        <div class="input-group">
          <label for="firstName">First Name</label>
          <input name="firstName" />
          <label for="lastName">Last Name</label>
          <input name="lastName" />
          <label for="passport">Passport</label>
          <input name="passport" />
          <label for="postId">Post ID</label>
          <input name="postId" />
          <button>Add appointment</button>
        </div>
      </form>
      <form action="/api/appointments" method="GET">
        <div class="input-group">
          <button>Get free slots</button>
        </div>
      </form>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
    </div>
  </body>
</html>